* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: #ff8c00;
}

.wrapper {
  position: fixed;
  max-width: 500px;
  border-radius: 10px;
  margin-top: 150px;
  margin-left: 600px;
  padding: 30px 80px;
  box-shadow: 20px 20px 80px rgb(206, 206, 206);
}

.h2 {
  font-family: "Kaushan Script";
  font-size: 3.5rem;
  font-weight: bold;
  color: #ff8c00;
  font-style: italic;
}

.h4 {
  font-family: "Poppins", sans-serif;
}

.input-field {
  border-radius: 5px;
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #000000;
  color: #ff8c00;
}

.input-field:hover {
  color: #ff8c00;
  border: 1px solid #ff8c00;
}

input {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
  padding: 0px 2px;
  font-family: "Poppins", sans-serif;
}

.btn.btn-block {
  position: relative;
  left: 80px;
  border-radius: 20px;
  background-color: #ff8c00;
  color: #fff;
}

.btn.btn-block:hover {
  background-color: #ff8c00;
}
